<form action="/add-word" method="post">
  <div class="form-control">
    <label for="word">Enter your new Word</label>
    <input id="word" type="text" name="word" value="">
  </div>
  <div class="form-control">
    <label for="word">Enter definition</label>
    <input id="definition" type="text" name="definition" value="">
  </div>
  <button type="submit" class="btn btn-success" name="button">Add!</button>
</form>
