<h2>New definition for $word.getWord()<h2>
<input id="wordID" name="wordID" type="hidden" value="$word.getID()">

<form action="/add-def" method="post">
  <label for="definition">New Definition</label>
  <input id="definition" type="text" name="name" value="">
    <button type="submit" class="btn btn-success" name="button">Add!</button>
</form>
