<div class="container">
  <h1>Hello World</h1>
  <div id="word-list">
    #if($Dictionary.getWords().size() == 0)
      <p>There are no words in your dictionary, add a word below</p>
    #else
      #foreach($word in $Dictionary.getWords())
        <p><a href="/word/$word.getID()">$word.getWord()</a></p>
      #end
    #end
  <a href="/word/new">Add a Word!</a>
  </div>
</div>
