<div class="container">
  <h3>$word.getWord()</h3>
  <div id="definition-list">
    #foreach($def in $word.getDefinitionsArray())
      <p>$def.getDefinition()</p>
    #end
    <form action="/add-def" method="post">
      <input id="word" type="hidden" name="word" value="$word.getID()">
      <input id="definition" type="text" name="definition" value="">
      <button type="submit" name="button">Add Definition</button>
    </form>
    <p><a href="/">Back to Dictionary</a>
  </div>
</div>
